<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a software developer who loves to build awesome stuff, with a wide experience in building customer-based solutions 
      for digital needs using mind-blowing technologies.
    </p>
    <p>
      I write some articles on <a href="http://jamilusalis.me/blog" target="_blank">my blog</a> and make 
      open <a href="https://github.com/jamilusalis" target="_blank"> contributions on GitHub.
    </p>
    <p>
      I am an active member of various developers communities, where I focus on
      making impacts and sharing my experiences whilst learning.
    </p>

    <p>
      Being a full-stack engineer, my goal is to always build applications that are scalable, efficient, 
      adaptive, and eye-candy user experiences.
    </p>

    <p>
      <strong>When I'm not in front of my computer screen</strong>, I'm probably hanging out
      or visit a friend.
    </p>
  </div>
</section>
