<header class="intro">
    <h1 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">
        Hey, I’m <span class="name">Jamilu</span>, a software engineer with a solid understanding of software development, web development 
        and Java programming. I love to build new stuff, and I'm also an open-source hobbyist.
    </h2>
    {% include location.html %}
    <h3 class="intro__contact">
        <span>Get in touch</span>
        <span class="emoji pointer"></span>
        <span>
      <a href="mailto:jamilusalis@gmail.com" target="_blank"
         class="highlight-link">jamilusalis@gmail.com</a>
    </span>
    </h3>
</header>
